<IfModule mod_rewrite.c>
    RewriteEngine on
    
    RewriteCond %{HTTPS} off [OR]
    RewriteCond %{HTTP_HOST} ^www\.(.+)$ [NC]
    RewriteRule ^(.*)$ https://%1/$1 [R=301,L,NE]
    
</IfModule>

<Files ".env">
    Require all denied
</Files>

<Files ".gitignore">
    Require all denied
</Files>

<Files "node_modules">
    Require all denied
</Files>

DirectoryIndex index.html

php_flag log_errors on
php_value error_log /usr/home/utuuuo/php.bgame.log